/* body is full gray*/
body{
    background-color: #333333;
    color: #b3b3b3;
    scroll-behavior: smooth;
}

/*the site heading*/
h1{
    text-align: center;
}

h2{
    font-size:30px;
    text-align: left;
}

/*navigation bar */
nav{
    background-color:#404040;
    text-align: center;
    padding: 10px;
    display: block;
    margin:auto;
}
nav.a{
    display: inline-block;
}

/*Container*/
.container{
    text-align: center;
}

/*general decorations for links*/
a{
    text-decoration: none;
    color:gray;
    padding:10px;
}

/*Button*/
.btn:hover{
    color:red;
}

/*Game table */
.game_table{
    margin: auto;
    border: 1px solid lightgray;
    padding: 9px;
    border-collapse:collapse;
    text-align: center;
}

th,td{
    border: 1px solid lightgray;
    padding: 10px;
}

/*Login form */

div.form{
    margin-top: 20px;
    display: inline-block;
    border: 1px solid gray;
    padding:10px;
    text-align: center;
    scale: 1.2;
}
.same_line{
    display: inline-block;
    margin-bottom: 10px;
}

.text_input{
    width: 100px;
    float: left;
}

.input_box{
    float: right;
    margin-left: 10px;
    width: 150px;
    padding:5px;
    margin-bottom: 10px;
}

.input_dropdown{
    float:right;
    margin-left: 10px;
    width: 160px;
    font-size: 10px;
    padding: 7px;
}

.submitBtn{
    float: right;
    margin-top: 10px;
}

/*Footer*/
.text_bottom{
    display: block;
    position: relative;
    text-align: center;
}