/* body is full gray*/
body{
    background-color: #333333;
    color: #b3b3b3;
    scroll-behavior: smooth;
}

/*the site heading*/
h1{
    text-align: center;
}

h2{
    font-size:30px;
    text-align: left;
}

/*navigation bar */
nav{
    background-color:#404040;
    text-align: center;
    padding: 10px;
    display: block;
    margin:auto;
}
nav.a{
    display: inline-block;
}

/*general decorations for links*/
a{
    text-decoration: none;
    color:gray;
    padding:10px;
}

/*Button*/
.btn:hover{
    color:red;
}

/*Game table */
.game_table{
    margin: auto;
    border: 1px solid lightgray;
    padding: 9px;
    border-collapse:collapse;
    text-align: center;
}

th,td{
    border: 1px solid lightgray;
    padding: 10px;
}

/*Login form */


/*Footer*/
.text_bottom{
    text-align: center;
}