/*Main parts of the site*/

/* body is full gray*/
body{
    background-color: #333333;
    color: #b3b3b3;
    scroll-behavior: smooth;
}
/*FORM*/
.frm{
    margin: auto;
    padding: 20px;
    width: 300px;
    border: 1px solid white;
}
/*the site heading*/
h1{
    text-align: center;
}

h2{
    font-size:30px;
    text-align: left;
}

/*navigation bar */
nav{
    background-color:#404040;
    text-align: center;
    padding: 10px;
    display: block;
    margin:auto;
}
nav.a{
    display: inline-block;
}

/*general decorations for links*/
/*Also affects the navigation --> should put to list of nav*/
a{
    text-decoration: none;
    color:#8f5f5f;
    padding:5px;
}

/*Button*/
.btn:hover{
    color:red;
}

/*Game table */
.game_table{
    margin: auto;
    border: 1px solid lightgray;
    padding: 9px;
    border-collapse:collapse;
    text-align: center;
}

th,td{
    border: 1px solid lightgray;
    padding: 10px;
}

/*Login form */
input[type=text],select,input[type=number],input[type="password"]{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: horizontal;
}

.frmBtn{
    margin:auto;
    padding: 10px;
    margin-bottom: 10px;
}

/*Article*/
article{
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: whitesmoke;
}
footer{
    text-align: center;
}
