

.page_tittle{
    text-align: center;
}

/*background of the page*/
body{
    background-color:#333333;
    color: #b3b3b3;
    scroll-behavior: smooth;
}

/*---------------------*/

/*table of games */
.game_table{
    margin: auto;
    border-color:#b3b3b3;
    border-collapse: collapse;
}

th,td{
    border: 1px solid #b3b3b3b3;
    padding:10px 10px;
}

/*---------------------*/

/*navigation bar*/

/*the navigation bar in general*/
nav{
    position: sticky;
    background-color:#404040;
    float:none;
    overflow: hidden;
    margin:auto;
    text-align: center;
}
/*the links*/
nav a{
    padding:14px 16px;
    text-align:center;
    color: #b3b3b3;
    font-size:20px;
    display: inline-block;
}
/*if the link is active*/
nav a:hover{
    color:red;
}
th{
    background: gray;
    color:black;
    
}

/*---------------------*/
a{
    text-decoration: none;
    color:gray;
}
a:hover{
    color:red;
}

/*Adding game form*/
.game_form table{
    display: inline-block;
    border-collapse: collapse;
}

.game_form .lbl{
    text-align: left;
    width: 10px;
    white-space: nowrap;
    color:red
}

.game_form .fld{
    width: 100%;
}

.game_form td{
    border: none;
}

fieldset{
    background-color: lightgray;
    margin: auto;
    width:250px;
}
legend{
    color:red;
    text-align: center;
}
.game_form #submitbutton{
    margin:auto;
    display: flex;
}